Repository Find-U-I/Find-iOS, pull requests merged in 2021-05, with the labels that each got.

#9 Feat/3 ProfileWritingVC AutoLayout
  Find-iOS/Find-iOS.xcodeproj/project.pbxproj
  Find-iOS/Find-iOS/Global/Extension/UIFont+Extension.swift
  Find-iOS/Find-iOS/Screen/ProfileWriting/Cell/ProfileCollectionViewCell.swift
  Find-iOS/Find-iOS/Screen/ProfileWriting/Cell/ProfileCollectionViewCell.xib
  Find-iOS/Find-iOS/Screen/ProfileWriting/Storyboard/Introduction.storyboard
  Find-iOS/Find-iOS/Screen/ProfileWriting/Storyboard/ProfileWriting.storyboard
  Find-iOS/Find-iOS/Screen/ProfileWriting/ViewController/IntroductionVC.swift
  Find-iOS/Find-iOS/Screen/ProfileWriting/ViewController/PopUpVC.storyboard
  Find-iOS/Find-iOS/Screen/ProfileWriting/ViewController/ProfileWritingVC.swift
  Find-iOS/Find-iOS/Support/Assets.xcassets/backBtn.imageset/Contents.json
  Find-iOS/Find-iOS/Support/Assets.xcassets/backBtn.imageset/backBtn.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/backBtn.imageset/backBtn@2x.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/backBtn.imageset/backBtn@3x.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/iconCheck.imageset/Contents.json
  Find-iOS/Find-iOS/Support/Assets.xcassets/iconCheck.imageset/iconCheck.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/iconCheck.imageset/iconCheck@2x.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/iconCheck.imageset/iconCheck@3x.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/iconCheckCircleFill.imageset/Contents.json
  Find-iOS/Find-iOS/Support/Assets.xcassets/iconCheckCircleFill.imageset/iconCheckCircleFill.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/iconCheckCircleFill.imageset/iconCheckCircleFill@2x.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/iconCheckCircleFill.imageset/iconCheckCircleFill@3x.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/iconQ.imageset/Contents.json
  Find-iOS/Find-iOS/Support/Assets.xcassets/iconQ.imageset/iconQ.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/iconQ.imageset/iconQ@2x.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/iconQ.imageset/iconQ@3x.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/iconSetting.imageset/Contents.json
  Find-iOS/Find-iOS/Support/Assets.xcassets/iconSetting.imageset/iconSetting.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/iconSetting.imageset/iconSetting@2x.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/iconSetting.imageset/iconSetting@3x.png
  Find-iOS/Find-iOS/Support/Info.plist
  Find-iOS/Podfile.lock
Labels: 1️⃣ priority: high, ✨ style, 🌴 view, 🍀 feature

#18 Feat/6 Interview View Complete
  Find-iOS/Find-iOS.xcodeproj/project.pbxproj
  Find-iOS/Find-iOS/Global/Extension/UIColor+Additions.swift
  Find-iOS/Find-iOS/Global/Extension/UITextField+Extension.swift
  Find-iOS/Find-iOS/Screen/Interview/Cell/InterviewCVCell.swift
  Find-iOS/Find-iOS/Screen/Interview/Cell/InterviewPhotoCVCell.swift
  Find-iOS/Find-iOS/Screen/Interview/Cell/InterviewPhotoCVCell.xib
  Find-iOS/Find-iOS/Screen/Interview/Cell/InterviewQestionCVCell.swift
  Find-iOS/Find-iOS/Screen/Interview/Cell/InterviewQestionCVCell.xib
  Find-iOS/Find-iOS/Screen/Interview/Cell/photoPreviewCVCell.swift
  Find-iOS/Find-iOS/Screen/Interview/Cell/photoPreviewCVCell.xib
  Find-iOS/Find-iOS/Screen/Interview/Model/GetInterviewCategory.swift
  Find-iOS/Find-iOS/Screen/Interview/Model/InterviewData.swift
  Find-iOS/Find-iOS/Screen/Interview/Model/InterviewImages.swift
  Find-iOS/Find-iOS/Screen/Interview/Storyboard/Interview.storyboard
  Find-iOS/Find-iOS/Screen/Interview/ViewController/InterviewVC.swift
  Find-iOS/Find-iOS/Screen/MyProfile/Storyboard/MyProfile.storyboard
  Find-iOS/Find-iOS/Screen/MyProfile/ViewController/MyProfileVC.swift
  Find-iOS/Find-iOS/Support/Assets.xcassets/backBtn.imageset/Contents.json
  Find-iOS/Find-iOS/Support/Assets.xcassets/backBtn.imageset/backBtn.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/backBtn.imageset/backBtn@2x.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/backBtn.imageset/backBtn@3x.png
  Find-iOS/Find-iOS/Support/Info.plist
Labels: 1️⃣ priority: high, 🌴 view, 🍀 feature

#29 [feat] Matching Status View
  Find-iOS/Find-iOS.xcodeproj/project.pbxproj
  Find-iOS/Find-iOS.xcodeproj/xcuserdata/ws.xcuserdatad/xcschemes/xcschememanagement.plist
  Find-iOS/Find-iOS/Global/Extension/UIColor+Additions.swift
  Find-iOS/Find-iOS/Screen/FindFound/Storyboard/FindFound.storyboard
  Find-iOS/Find-iOS/Screen/Interview/ViewController/InterviewVC.swift
  Find-iOS/Find-iOS/Screen/MatchingStatus/Cell/Dibs/DibsTVCell.swift
  Find-iOS/Find-iOS/Screen/MatchingStatus/Cell/Dibs/DibsTVCell.xib
  Find-iOS/Find-iOS/Screen/MatchingStatus/Cell/Feeling/ConnectedTVCell.swift
  Find-iOS/Find-iOS/Screen/MatchingStatus/Cell/Feeling/ConnectedTVCell.xib
  Find-iOS/Find-iOS/Screen/MatchingStatus/Cell/Feeling/FeelingCVCell.swift
  Find-iOS/Find-iOS/Screen/MatchingStatus/Cell/Feeling/FeelingCVCell.xib
  Find-iOS/Find-iOS/Screen/MatchingStatus/Cell/Feeling/FeelingTVCell.swift
  Find-iOS/Find-iOS/Screen/MatchingStatus/Cell/Feeling/FeelingTVCell.xib
  Find-iOS/Find-iOS/Screen/MatchingStatus/Cell/HeaderFooter/MatchingFooter.swift
  Find-iOS/Find-iOS/Screen/MatchingStatus/Cell/HeaderFooter/MatchingFooter.xib
  Find-iOS/Find-iOS/Screen/MatchingStatus/Cell/HeaderFooter/MatchingHeader.swift
  Find-iOS/Find-iOS/Screen/MatchingStatus/Cell/HeaderFooter/MatchingHeader.xib
  Find-iOS/Find-iOS/Screen/MatchingStatus/Cell/Segue/MatchingDibsCVCell.swift
  Find-iOS/Find-iOS/Screen/MatchingStatus/Cell/Segue/MatchingDibsCVCell.xib
  Find-iOS/Find-iOS/Screen/MatchingStatus/Cell/Segue/MatchingStatusCVCell.swift
  Find-iOS/Find-iOS/Screen/MatchingStatus/Model/MatchingData.swift
  Find-iOS/Find-iOS/Screen/MatchingStatus/Storyboard/MatchingStatus.storyboard
  Find-iOS/Find-iOS/Screen/MatchingStatus/ViewController/MatchingStatusNC.swift
  Find-iOS/Find-iOS/Screen/MatchingStatus/ViewController/MatchingStatusVC.swift
  Find-iOS/Find-iOS/Screen/TabBar/ViewController/FindTabBarController.swift
  Find-iOS/Find-iOS/Support/Assets.xcassets/btnCancelHeart.imageset/Contents.json
  Find-iOS/Find-iOS/Support/Assets.xcassets/btnCancelHeart.imageset/btnCancelHeart.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/btnCancelHeart.imageset/btnCancelHeart@2x.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/btnCancelHeart.imageset/btnCancelHeart@3x.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/btnCancleStar.imageset/Contents.json
  Find-iOS/Find-iOS/Support/Assets.xcassets/btnCancleStar.imageset/btnCancleStar.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/btnCancleStar.imageset/btnCancleStar@2x.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/btnCancleStar.imageset/btnCancleStar@3x.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/colorSet/find_Red.colorset/Contents.json
  Find-iOS/Find-iOS/Support/Assets.xcassets/icTab1Selected.imageset/Contents.json
  Find-iOS/Find-iOS/Support/Assets.xcassets/icTab1Selected.imageset/icTab1Selected.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/icTab1Selected.imageset/icTab1Selected@2x.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/icTab1Selected.imageset/icTab1Selected@3x.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/icTab2Selected.imageset/Contents.json
  Find-iOS/Find-iOS/Support/Assets.xcassets/icTab2Selected.imageset/icTab2Selected.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/icTab2Selected.imageset/icTab2Selected@2x.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/icTab2Selected.imageset/icTab2Selected@3x.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/icTab3Selected.imageset/Contents.json
  Find-iOS/Find-iOS/Support/Assets.xcassets/icTab3Selected.imageset/icTab3Selected.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/icTab3Selected.imageset/icTab3Selected@2x.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/icTab3Selected.imageset/icTab3Selected@3x.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/icTab4Selected.imageset/Contents.json
  Find-iOS/Find-iOS/Support/Assets.xcassets/icTab4Selected.imageset/icTab4Selected.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/icTab4Selected.imageset/icTab4Selected@2x.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/icTab4Selected.imageset/icTab4Selected@3x.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/iconSendLineGray.imageset/Contents.json
  Find-iOS/Find-iOS/Support/Assets.xcassets/iconSendLineGray.imageset/iconSendLineGray.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/iconSendLineGray.imageset/iconSendLineGray@2x.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/iconSendLineGray.imageset/iconSendLineGray@3x.png
  Find-iOS/Find-iOS/Support/Info.plist
Labels: 2️⃣ priority: middle, 🌴 view

#46 [feat] InterviewView 미비된 부분
  Find-iOS/Find-iOS/Screen/Interview/Cell/InterviewCVCell.swift
  Find-iOS/Find-iOS/Screen/Interview/Cell/InterviewQestionCVCell.swift
  Find-iOS/Find-iOS/Screen/Interview/Cell/photoPreviewCVCell.xib
  Find-iOS/Find-iOS/Screen/Interview/Storyboard/Interview.storyboard
  Find-iOS/Find-iOS/Screen/Interview/ViewController/InterviewVC.swift
  Find-iOS/Find-iOS/Support/Info.plist
  Find-iOS/Podfile.lock
Labels: 1️⃣ priority: high, ✨ style, 🌈 refactor

#52 [feat] App Icon
  Find-iOS/Find-iOS.xcodeproj/project.pbxproj
  Find-iOS/Find-iOS/Support/Assets.xcassets/AppIcon.appiconset/1024.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/AppIcon.appiconset/114.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/AppIcon.appiconset/120.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/AppIcon.appiconset/180.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/AppIcon.appiconset/29.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/AppIcon.appiconset/40.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/AppIcon.appiconset/57.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/AppIcon.appiconset/58.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/AppIcon.appiconset/60.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/AppIcon.appiconset/80.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/AppIcon.appiconset/87.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/AppIcon.appiconset/Contents.json
  Find-iOS/Find-iOS/Support/Assets.xcassets/appstore.imageset/Contents.json
  Find-iOS/Find-iOS/Support/Assets.xcassets/appstore.imageset/appstore.png
  Find-iOS/Find-iOS/Support/Assets.xcassets/playstore.imageset/Contents.json
  Find-iOS/Find-iOS/Support/Assets.xcassets/playstore.imageset/playstore.png
Labels: 3️⃣ priority: low, ✨ style

#57 [fix] 사용자 계정 정보 입력 및 호감보내기, 찜해제 버그
  Find-iOS/Find-iOS.xcodeproj/project.pbxproj
  Find-iOS/Find-iOS/Screen/MatchingStatus/Cell/Dibs/DibsTVCell.swift
  Find-iOS/Find-iOS/Screen/MyProfile/Storyboard/MyProfile.storyboard
Labels: 1️⃣ priority: high, 🌴 view, 🔨 fix, 🕸 network
